{% extends "index.html" %}

{% block css %}{% endblock %}

{% block addcss %}
    <!-- bootstrap -->
    <link href="/static/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/static/css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="/static/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/static/css/layout.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/elements.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/icons.css" />

    <!-- libraries -->
    <link href="/static/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />

    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/css/compiled/tables.css" type="text/css" media="screen" />

    <!-- open sans font -->

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        label{
            display: inline-block;
    float: left;
    font-weight: 600;
    font-size: 13px;
    cursor: auto;
    width: 25%;
    margin-right: 10px;
        }
    </style>
{% endblock %}



{% block index %}
<li>
{% endblock %}


{% block user %}
<li class = "active">
    <div class="pointer">
        <div class="arrow"></div>
        <div class="arrow_border"></div>
    </div>
{% endblock %}


{% block userblock %}
    style = "display:block;"
{% endblock %}


{% block container %}
     <div class="container-fluid">
            <div class='span8' id="pad-wrapper">

                <!-- products table-->
                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="able-wrapper products-table section">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4>个人信息</h4>
                        </div>
                    </div>

                    <div class="alert alert-info">
                        <i class="icon-lightbulb "></i>
                        <strong>展示个人信息</strong>

                    </div>

                    <form action="" method="post">
                        {% for i in alldata %}
                        <div class="field-box">
                            <label class="">用户名称：</label>
                            <input class="span5 inline-input" type="text" value="{{ i.username }}" disabled/>
                        </div>
                        <div class="field-box">
                            <label>真实姓名：</label>
                            <input class="span5 inline-input" type="text" value="{{ i.realname }}" />
                        </div>
                        <div class="field-box">
                            <label>手机号码：</label>
                            <input class="span5 inline-input" type="text" value="{{ i.phone }}" />
                        </div>
                        <div class="field-box">
                            <label>用户邮箱：</label>
                            <input class="span5 inline-input" type="text" value="{{ i.email }}" />
                        </div>
                        <div class="field-box">
                            <label>用户角色：</label>
                            <input class="span5 inline-input" type="text" value="{{ i.role }}" />
                        </div>
                        <div class="field-box">
                            <label>备注：</label>
                            <input class="span5 inline-input" type="text" value="{{ i.comment }}" />
                        </div>
                        <div class="field-box">
                            <label>添加日期：</label>
                            <input class="span5 inline-input" type="text" value="{{ i.addtime }}" disabled/>
                        </div>
                        <div class="field-box">
                            <label>性别：</label>
                            <input class="span5 inline-input" type="text" value="{{ i.gender }}" />
                        </div>
                        <div class="field-box">
                            <label>QQ：</label>
                            <input class="span5 inline-input" type="text" value="{{ i.qq }}" />
                        </div>
                        <div class="field-box">
                            <label>用户状态：</label>
                            <input class="span5 inline-input" type="text" value="{{ i.statue }}" />
                        </div>
                        {% endfor %}

                        <div class="span6 field-box actions">
                            <input type="submit" class="btn-glow primary" id="submits" value="保存并新增" />


                        </div>
                    </form>

                </div>
                <!-- end products table -->




            </div>
{% endblock %}

{% block addjs %}
    <script src="/static/js/jquery-latest.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>
    <script>

        function del(id){
    $.ajax(
            {
                type:"post",
                url:"http://127.0.0.1:8000/user/delpermission/",
                data:{"id":id},
                success:function(data){
                    if(data["statue"] == "success"){
                        window.location.reload()
                    }
                },
                error:function(err){
                    console.log(err)
                }
            }
    )
}
    </script>

{% endblock %}